.contact-wrap {
    overflow: hidden;
    width: 100%
}

.contact-form {
    font-size: 20px;
    width: 70%;
    overflow: hidden;
    display: block;
    float:left;
    padding-right: 20px;
    box-sizing: border-box;
}

.contact-form input,
.contact-form textarea,
.contact-form select {
    border: 0;
    display: block;
    margin-bottom: 31px;
    color: #888;
    background-color: #fff;
    margin-right: 0;
    width: 100%;
    padding: 17px 20px 18px 20px;
    font-size: 20px;
}

.contact-form label {
    display: block;
    margin: 10px 0;
}

.contact-form label small {
    color: #444;
    font-size: 15px;
    display: block;
}

.submit {
    background-color: #333;
    border: 2px solid #333;
    color: #f6f6f6;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}

.submit-loading {
    background-image: url(../lib/colorbox/images/loading.gif);
    background-repeat: no-repeat;
    background-position: center;
}

.submit:hover {
    border-color: #333333;
    background-color: transparent;
    color: #333;
}

.contact-info {
    width: 30%;
    overflow: hidden;
    box-sizing: border-box;
    padding-left: 10px;
}

#send-status-wrapper {
    padding: 10px;
    text-align: center;
}

#send-status {
    color: green;
    font-weight: bold;
    display: none;
}

.contact-info h1 {
    font-size: 40px;
    font-weight: bold;
    margin: 20px 0;
}

.contact-info .description {
    font-size: 20px;
    line-height: 1.3;
}

.contact-info .mail {
    margin: 20px 0;
    font-size: 30px;
}
