/* General */

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
/* Buttons */

#buttons button {
    padding: 15px 20px;
    margin-top: 20px;
    margin-left: 20px;
    background: lightgrey;
    border: none;
    color: #ffffff;
}

/* Header */

header {
    text-align: right;
    margin: 5%;
    line-height: 1.1;
    color: #333;
}

header h1 {
    font-size: 60px;
    font-weight: normal;
}

header h2 {
    font-size: 40px;
}

/* Navigation */

#nav {
    text-align: center;
}

#nav li {
    display: inline-block;
    text-align: center;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #fff !important;
    background: #fff;
}

#nav li:hover {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#nav li div {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
}

#nav li span {
    display: block;
    color: #111;
    font-size: 20px;
    text-transform: lowercase;
}

.stick ul {
    max-height: 60px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.25);
    text-align: center;
    position: fixed;
    z-index: 9999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 0;
}

.stick ul:hover {
    max-height: none;
}

.stick ul li {
    margin-top: 0 !important;
    padding-top: 0 !important;
}
.stick ul div {
    height: 10px !important;
}

.stick-top-fix {
    top: 171px
}
/* Images */

#images {
    max-width: 1024px;
    margin: 0 auto 10px;
}

#images img {
    max-width: 100%
}
